# links follow
Options +FollowSymlinks 
# rewrite Apache activate
RewriteEngine On


# /accueil -> /controllers/page-controller-home.php
 RewriteRule ^accueil$ /controllers/page-controller-home.php [L]

# /inscription -> /controllers/page-controller-add-patient.php
 RewriteRule ^inscription$ /controllers/page-controller-add-patient.php [L]

 # /liste-de-patients -> /controllers/page-controller-patient-list.php
 RewriteRule ^liste-de-patients$ /controllers/page-controller-patient-list.php [L]





